*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* utility */
:root{
    --lightcolor: #FFFFFF;
    --darkcolor: #000000;
    --lightblue: #B4D0E7;
    --bg-btn: #0061FF;
    --lightgrey: #F5F5F5;
    --greenlogo: #A2D39B;
    --lightbluelogo: #0093CE;
    --redlogo: #FF1C1C;
    --redtwologo: #D5001F;
    --bluelogo: #0D2481;
    --yelllowlogo: #FFD830;
    --brownlogo: #61082B; 
    --bordercolor: #D7D7DA;
}
.d-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.small-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
.container{
    max-width:1200px;
    margin: 0 auto;
    padding: 10px;
}
.mb-100{
    margin-bottom: 100px;
}
.center{
    align-items: center;
}
.start{
    justify-content: flex-start;
}
.align-start{
    align-items: flex-start;
}
.btn{
    background-color: var(--bg-btn);
    color: var(--lightcolor);
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
h1{
    font-size: 4.5rem;
    font-weight: 800;
}
h2{
    font-size: 2.3rem;
}
h3{
    font-size: 1.3rem;
}
.m-top{
    margin-top: 150px;
}
.m-top-50{
    margin-top: 50px;
}
.p-top-45{
    padding-top: 45px;
}
.p-130{
    padding: 130px 10px;
}
.wrap{
    flex-wrap: wrap;
}
.p-30-25{
    padding: 30px 25px;
}
.blue-a{
    color: var(--bg-btn);
}
/* html */
html{
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
/* body */
body{
    background-color: var(--lightcolor);
}
/* header */
header{
    position: fixed;
    width: 100%;
    height: 80px;
    top:0;
    z-index: 100;
    background-color: var(--lightcolor);
    border-bottom: 1px solid var(--lightgrey);
    padding: 29px;
}
li{
    list-style: none;
}
header a{
    text-decoration: none;
    color: var(--darkcolor);
    padding: 7px 13px;
}
#logo{
    padding-right: 16px;
}
/* main */
#hero{
    background-color: var(--lightblue);
    padding-top: 140px;
}
.widht-30{
    width: 30%;
}
.widht-70{
    width: 70%;
}
.hero-left p:first-child{
    padding-bottom: 40px;
}
.p-hero{
    padding:40px 0px 80px 0px;
}
.widht-70 img{
    margin-bottom: -80px
}
.scroll{
    list-style: none;
    color: var(--darkcolor);
    font-size: 3rem;
}
.card-plans{
    width: 31%;
}
.border{
    border: 1px solid var(--bordercolor);
}
.title-card{
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid var(--bordercolor)
}
#plans i{
    padding-right: 5px;
}
.option-plans{
    padding-left: 60px;
}
#plans h3{
    padding-bottom: 20px;
}
.p-plan{
    padding: 10px 0px 50px 0px;
    color: grey;
}
.card-plans li{
    padding-bottom: 18px;
}
.btn-plans{
    padding: 20px 0px;
}
.line{
    width: 10px;
}
.check-blue i{
    color: var(--bg-btn);
}
.plans-bottom{
    width: 100%;
}
#p-plans-bottom{
    padding-bottom: 40px;
}
.partner-left{
    width: 60%;
}
.partner-right{
    width: 40%;
    padding: 45px;
}
.partner-right p{
    padding: 20px 0px 35px 0px;
}
.card-business{
    max-width: 31%;
    padding-top: 56px;
}
.card-business h3{
    padding: 5px 0px 23px 0px;
}
.customers-top{
    width: 50%;
}
.customers-top p{
    padding: 50px 0px 110px 0px;
}
.card-logo{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}
.logo{
    width: 50%;
    position: relative;
}
#left-green{
    background-color: var(--greenlogo);
}
#left-brown{
    background-color: var(--brownlogo);
}
#left-blue{
    background-color: var(--lightbluelogo);
}
#left-red{
    background-color: var(--redlogo);
}
#right-red{
    background-color: var(--redtwologo);
}
#right-lightblue{
    background-color: var(--lightblue);
}
#right-blue{
    background-color: var(--bluelogo);
}
#right-yellow{
    background-color: var(--yelllowlogo);
}

.bg-logo{
    background-color: var(--lightgrey);
}
.logo img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo-center{
    padding: 50px;
}
.logo-center img{
    width: 48%;
    padding-bottom: 35px;
}
.logo-p{
    padding: 35px 0px 48px 0px;
}
#free-trial{
    background-color: var(--lightblue);
}
.trial-left{
    width: 50%;
}
.trial-left h2{
    color: var(--brownlogo);
}
.trial-right{
    width: 20%;
}
.question{
    padding: 37px 0px;
    border-top: 1px solid var(--darkcolor);
}
.border-bottom{
    border-bottom: 1px solid var(--darkcolor)
}
#faqs h2{
    padding-bottom: 50px;
}
/* footer */
footer{
    background-color: var(--darkcolor);
    padding-top: 80px;
}
.footer-top{
    padding-bottom: 50px;
}
.footer-top h3{
    color: var(--lightcolor);
    padding-bottom: 20px;
    font-size: 1.4rem;
}
.footer-top a{
    text-decoration: none;
    color: var(--lightcolor);
}
.footer-top li{
    padding-bottom: 10px;
}
.list{
    max-width: calc(100% / 5);
}
.footer-bottom{
    max-width: 11%;
    color: var(--lightgrey);
    padding: 45px 0px 40px 0px;
    border-top: 1px solid var(--lightgrey);
}
.footer-bottom span{
    padding: 0px 10px;
}