*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* utility */
:root{
    --lightcolor: #FFFFFF;
    ---darkcolor: #000000;
    --lightblue: #B4D0E7;
    --bg-btn: #0061FF;
    --lightgrey: #F5F5F5;
    --greenlogo: #A2D39B;
    --lightbluelogo: #0093CE;
    --redlogo: #FF1C1C;
    --cherrylogo: #D5001F;
    --bluelogo: #0D2481;
    --bananalogo: #FFD830; 
}
.d-flex{
    display: flex;
    flex-direction: row;

}
.small-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
.container{
    max-width:1200px;
    margin: 0 auto;
    padding: 10px;
}
.mb-100{
    margin-bottom: 100px;
}
.list{
    list-style: none;
}
/* html */
html{
    scroll-behavior: smooth;
}
/* body */
body{
    background-color: var(--lightcolor);
}
/* header */
header{
    position: fixed;
    width: 100%;
    height: 80px;
    top:0;
    z-index: 100;
    background-color: var(--lightcolor);
    border-bottom: 1px solid black;
}
/* main */
#hero{
    background-color: var(--lightblue);
    padding-top: 80px;
}
#free-trial{
    background-color: var(--lightblue);
}
/* footer */
footer{
    background-color: var(---darkcolor);
}